* {
  box-sizing: border-box;
}

button {
  padding: 5px;
  margin: 3px;
}

h1 {
  text-align: center;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.span-3 {
  grid-column: span 3;
}

.num-display {
  text-align: end;
  padding: 5px;
  border:  1px solid black;
  border-radius: 5px;
}

#title {
  color: blueviolet;
}

#calculator {
  max-width: 320px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: auto;
}